.line1 {
    position: absolute;
    border-left: solid #80808044;
    left: 0.5em;
    height: 100%;
    z-index: -1;
}

.commentDiv {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    padding: 0em;
    /*border-left: .25em solid gray;*/
}

/*.commentDiv:before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 0;
    position: relative;
    left: -1.2em;
    border-top: .25em solid gray;
}*/

.user {
    background-color: white;
    font-size: 0.5em;    
    margin: 0;
    
}

.comment {
    background-color: white;
    font-size: 0.7em;    
    margin: 0;
    
}