.lines {
    position: absolute;
    border-left: solid #80808044;
    left: 1.1em;
    height: 100%;
    z-index: -1;
}

.commentDiv {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    padding-top: 0.4em;
    background-color: white;
    
}



.user {
    color: #ff4500;
    font-size: 0.5em;    
    margin: 0;    
}

.comment {
    font-size: 0.7em;    
    margin: 0;    
}