.lines {
    position: absolute;
    border-left: solid #80808022;
    left: 1.1em;
    height: 0;
    z-index: -1;
}

.commentDiv {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    padding-top: 0.4em;
    background-color: white;    
}

.user {
    color: darkred;
    font-size: 0.8em;    
    margin: 0;    
}

.comment {
    font-size: 1em;    
    margin: 0;    
}

.buttonDiv {
    display: flex;
    justify-content: space-between;
}