.exploreDiv {
    margin: 0 auto;
    border: solid #80808044;
}

.postsListOuterDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchTerm {
    flex-basis: 100%;
    font-size: 1em;
    margin: 0.5em;
}

@media (orientation: landscape) {
    .exploreDiv {
        width: 60%;
        font-size: 1.5vw;
    }

    @media screen and (max-width: 1050px) {
        .exploreDiv {
            width: 75%;
        }
    }
}

@media (orientation: portrait) {
    .exploreDiv {
        width: 100%;
        font-size: 2.5vw;
    }
}