.outerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: solid #80808044;
    width: 100%;
}

.headingDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2svh; 
}

.infoDiv {
    display: flex;
    flex-direction: column;   
    width: 100%; 
}

.userDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
}

.avatar {
    font-size: 1.5em;
    margin: 0.2em 0.5em 0 0.5em;
}

.user {
    margin-left: 0.5em;
    font-size: 1em;
    overflow-wrap: anywhere;
    color: darkred;
}

.title {
    margin-left: 0.5em;
    font-size: 1em;
    overflow-wrap: anywhere;
}

.iconDiv {
    display: flex;
    justify-content: space-around;
}

.icon {
    font-size: 2.0em;
    margin: 0.1em 0.5em;
}

.icon:hover {
    color: #535bf2;
}

.postImg {
    max-width: 95%;
    max-height: 80svh;
    object-fit: contain;
    margin-bottom: 0.5em;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 1em 0.5em;
    overflow-wrap: anywhere;
}

a {
    overflow-wrap: anywhere;
}

.videoDiv {
    width: 55%;
    object-fit: contain;
    margin-bottom: 0.5em;
}